{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'myapp/de.css' %}" type="text/css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    {% block title %}
        <title>Plotty</title>
    {% endblock %}
</head>
<body>
    <header>
        <a href="/" class="logo">
            <img src="{% static 'myapp/images/logo.png' %}" alt="Logo Image">
            </a>
        <ul class="navlist">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
        </ul>        

        <div class="right-content">
            {% if user.is_authenticated %}
                <a href="/logout" class="nav-btn">Log Out</a>
                <div class="bx bx-menu" id="menu-icon"></div>
            {% else %}
                <a href="/login" class="nav-btn">Log In</a>
                <div class="bx bx-menu" id="menu-icon"></div>
            {% endif %}
        </div>
    </header>
 
    <section class="hero">
        <div class="hero-text">
            <h5 style="font-size: 25px;">#Plot your data with ease</h5>
            <h1>Plotter</h1>
            <p style="font-size: 20px;">Welcome to our CSV Manipulation and Plotting Website<br>
                a handy tool that helps you easily manage and visualize your data.</p>
            <div class="main-hero">
                {% if user.is_authenticated %}
                    <a href="/data" class="btn">Get Started</a>
                {% else %}
                    <a href="/login" class="btn">Get Started</a>
                {% endif %}
            </div>
        </div>

        <div class="hero-img">
            <img src="{% static 'myapp/images/home_image.jpg' %}">
        </div>
    </section> 
    
</body>
</html>
