<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>ข้อมูล</title>
    <style>
        .form-inline .form-group {
            margin-right: 10px;
        }
    </style>
</head>
<body>
<div class="container mt-5">
    <h1>Upload CSV and Display Table</h1>
    <hr>
    <div class="form-inline">
        <form method="POST" enctype="multipart/form-data" >
            {% csrf_token %}
            <div class="form-group">
                <input type="file" name="csv_file" class="form-control-file">
            </div>
            <br>
            <button type="submit" class="btn btn-primary mb-2 mr-2">Upload</button>
            <button type="submit" name="clear_data" value="true" class="btn btn-danger mb-2 mr-2">Clear Data</button>
            <button type="submit" name="clean_data" value="true" class="btn btn-warning mb-2">Clean Data</button>
        </form>
    </div>

    {% if page_obj %}
        <h2 class="mt-5">Data from CSV</h2>
        <table class="table table-striped" align="center">
            <thead>
                <tr>
                    {% for col in columns %}
                        <th>{{ col }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in page_obj %}
                    <tr>
                        {% for cell in row %}
                            <td>{{ cell }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <nav>
            <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                    </li>
                {% endif %}
                <li class="page-item">
                    <span class="page-link">{{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
                </li>
                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}
</div>
</body>
</html>