{% load static %}
<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/handsontable@11.0.0/dist/handsontable.min.css">
    <link rel="stylesheet" href="{% static 'myapp/data.css' %}">
    <title>Data</title>
    <style>
        .form-inline .form-group {
            margin-right: 10px;
        }

        #tableContainer {
            width: 100%;
            height: 500px;
            margin-top: 20px;
            display: none;
        }

        .button-container {
            display: flex;
            justify-content: flex-end;
            /* จัดปุ่มให้ชิดขอบขวา */
            margin-top: 10px;
            /* ระยะห่างด้านบนสำหรับปุ่ม */
        }

        .btn {
            transition: background-color 0.3s, transform 0.2s;
            margin-left: 10px;
            /* ระยะห่างระหว่างปุ่ม */
        }

        .btn:hover {
            background-color: darkorange;
            /* สีเมื่อ hover */
            transform: scale(1.05);
            /* ขยายขนาดปุ่มเล็กน้อย */
        }

        .btn:focus {
            outline: none;
            /* ลบกรอบที่ไม่ต้องการเมื่อ focus */
            box-shadow: 0 0 5px rgba(255, 165, 0, 0.5);
            /* เงาเมื่อ focus */
        }
    </style>

    </style>
    </style>
</head>

<body>
    <header>
        {% block content %}
        <div class="sidebar-wrapper">
            <div class="sidebar">
                <div class="logo">
                    <a href="/">
                        <img style="width: 20px;" src="{% static 'myapp/images/logo.png' %}" alt="Logo Image">
                    </a>
                    <a href="/" class="logo-title" style="color: white; text-decoration: none;">Plotter</a>
                </div>

                <ul class="nav flex-column">
                    <!-- Upload Data -->
                    <li class="nav-item upload-section">
                        <form method="POST" enctype="multipart/form-data" class="mb-4" id="csvUploadForm">
                            {% csrf_token %}
                            <div class="form-group">
                                <button type="button" id="csvFileButton" class="nav-link btn btn-primary mb-2">Select
                                    CSV File</button>
                                <input type="file" name="csv_file" id="csvFileInput" class="form-control-file d-none">
                            </div>
                            <button type="submit" class="nav-link btn btn-success mb-2" id="submitBtn" disabled>Upload
                                Data</button>
                        </form>

                        <script>
                            const csvFileButton = document.getElementById("csvFileButton");
                            const csvFileInput = document.getElementById("csvFileInput");
                            const submitBtn = document.getElementById("submitBtn");

                            // When the button is clicked, trigger the hidden file input click
                            csvFileButton.addEventListener("click", function () {
                                csvFileInput.click();
                            });

                            // When a file is selected, enable the submit button
                            csvFileInput.addEventListener("change", function () {
                                if (csvFileInput.files.length > 0) {
                                    submitBtn.disabled = false;
                                }
                            });
                        </script>
                    </li>

                    <!-- Clean Data -->
                    <li class="nav-item">
                        <form method="POST">
                            {% csrf_token %}
                            <a href="#" onclick="this.closest('form').submit()" class="nav-link">Clean Data</a>
                            <input type="hidden" name="clean_data" value="true">
                        </form>
                    </li>

                    <!-- Replace Data -->
                    <li class="nav-item">
                        <a href="#" id="replace-data-button" class="nav-link">Replace Data</a>
                        <div id="replace-data-form" style="display: none;">
                            <form method="POST" class="mt-3">
                                {% csrf_token %}
                                <div class="form-group mb-3">
                                    <label for="column" class="form-label">Column:</label>
                                    <input type="text" name="column" id="column" class="form-control" required>
                                </div>
                                <div class="form-group mb-3">
                                    <label for="to_replace" class="form-label">Replace:</label>
                                    <input type="text" name="to_replace" id="to_replace" class="form-control" required>
                                </div>
                                <div class="form-group mb-3">
                                    <label for="value" class="form-label">With:</label>
                                    <input type="text" name="value" id="value" class="form-control" required>
                                </div>
                                <button type="submit" name="replace_data" value="true" class="btn btn-warning">Replace
                                    Data</button>
                            </form>
                        </div>
                    </li>

                    <!-- Delete Column -->
                    <li class="nav-item">
                        <a href="#" id="delete-column-button" class="nav-link">Delete Column</a>
                        <div id="delete-column-form" style="display: none;">
                            <form method="POST">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="column_id">Column:</label>
                                    <input type="text" name="column_id" id="column_id" class="form-control" required>
                                </div>
                                <button type="submit" name="delete_column" value="true"
                                    class="btn btn-warning">Submit</button>
                            </form>
                        </div>
                    </li>

                    <!-- Delete Row -->
                    <li class="nav-item">
                        <a href="#" id="delete-row-button" class="nav-link">Delete Row</a>
                        <div id="delete-row-form" style="display: none;">
                            <form method="POST">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="row_id">Row:</label>
                                    <input type="text" name="row_id" id="row_id" class="form-control" required>
                                </div>
                                <button type="submit" name="delete_row" value="true"
                                    class="btn btn-warning">Submit</button>
                            </form>
                        </div>
                    </li>

                    <!-- Edit Value -->
                    <li class="nav-item">
                        <a href="#" id="edit-value-button" class="nav-link">Edit Value</a>
                        <div id="edit-form" style="display: none;">
                            <form method="POST">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="row_id">Row ID:</label>
                                    <input type="text" name="row_id" id="row_id" class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <label for="column">Column:</label>
                                    <input type="text" name="column" id="column" class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <label for="new_value">New Value:</label>
                                    <input type="text" name="new_value" id="new_value" class="form-control" required>
                                </div>
                                <button type="submit" name="edit_value" value="true"
                                    class="btn btn-warning">Submit</button>
                            </form>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="main-content">

                <!-- top bar (Export) & (Log Out) -->
                <div class="top-bar" style="display: flex; justify-content: space-between; align-items: center;">
                    <div style="display: flex; align-items: center;">
                        <h1>
                            <img src="{% static 'myapp/images/user.png' %}" alt="Percentage Icon"
                                style="width: 30px; height: 30px; vertical-align: middle; margin-bottom: 8px;">
                             {{ user.username }}
                        </h1>
                    </div>
                    <div>
                        {% if user.is_authenticated %}
                        <a href="/export"  class="btn" style="background-color: rgb(42, 38, 174); color: white;">Export</a>
                        <a href="/logout" class="btn" style="background-color: red; color: white;">
                            <i class="bi bi-box-arrow-right"></i>
                            <img src="{% static 'myapp/images/logout.png' %}" style="width: 20px; height: 20px;"> Log
                            Out
                        </a>
                        {% endif %}
                    </div>
                </div>


                <!--tabs-->
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/data/' %}active{% endif %}" href="{% url 'data' %}"
                            role="tab">Data</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/describe/' %}active{% endif %}"
                            href="{% url 'describe' %}" role="tab">Describe</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/selectPlot/' %}active{% endif %}"
                            href="{% url 'selectPlot' %}" role="tab">Preview</a>
                    </li>
                </ul>


                <!--table-->
                <div class="table-container">
                    <h2 class="mt-5">Data from CSV</h2>
                    <table class="table table-striped" align="center">
                        <thead>
                            <tr>
                                {% if columns %}
                                {% for col in columns %}
                                <th>{{ col }}</th>
                                {% endfor %}
                                {% endif %}
                            </tr>
                        </thead>
                        <tbody>
                            {% if page_obj %}
                            {% for row in page_obj %}
                            <tr>
                                {% for cell in row %}
                                <td>{{ cell }}</td>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                            {% else %}
                            <tr>
                                <td colspan="{{ columns|length }}" style="text-align: left;">No data available</td>
                            </tr>
                            {% endif %}
                        </tbody>
                    </table>
                
                    {% if page_obj.paginator.count > 0 %}
                    <nav>
                        <ul class="pagination">
                            {% if page_obj.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                            </li>
                            {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" tabindex="-1">Previous</a>
                            </li>
                            {% endif %}
                
                            <li class="page-item">
                                <span class="page-link">{{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
                            </li>
                
                            {% if page_obj.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                            </li>
                            {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" tabindex="-1">Next</a>
                            </li>
                            {% endif %}
                        </ul>
                    </nav>
                    {% endif %}
                </div>
                
            </div>

            
            <script>
                document.getElementById('edit-value-button').addEventListener('click', function () {
                    var editForm = document.getElementById('edit-form');
                    if (editForm.style.display === 'none') {
                        editForm.style.display = 'block';
                    } else {
                        editForm.style.display = 'none';
                    }
                });

                document.getElementById('delete-row-button').addEventListener('click', function () {
                    var deleteRowForm = document.getElementById('delete-row-form');
                    if (deleteRowForm.style.display === 'none') {
                        deleteRowForm.style.display = 'block';
                    } else {
                        deleteRowForm.style.display = 'none';
                    }
                });

                document.getElementById('delete-column-button').addEventListener('click', function () {
                    var deleteColumnForm = document.getElementById('delete-column-form');
                    if (deleteColumnForm.style.display === 'none') {
                        deleteColumnForm.style.display = 'block';
                    } else {
                        deleteColumnForm.style.display = 'none';
                    }
                });

                document.getElementById('replace-data-button').addEventListener('click', function () {
                    var replaceDataForm = document.getElementById('replace-data-form');
                    if (replaceDataForm.style.display === 'none') {
                        replaceDataForm.style.display = 'block';
                    } else {
                        replaceDataForm.style.display = 'none';
                    }
                });

            </script>
            {% endblock %}


</body>

</html>