{% extends "myapp/data.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plot Data</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/handsontable@11.0.0/dist/handsontable.min.css">
    <link rel="stylesheet" href="{% static 'myapp/selectplots.css' %}">
    <style>
        .card {
            border: none;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            transition: transform 0.3s ease, box-shadow 0.3s ease;
        }

        .card:hover {
            transform: translateY(-5px);
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
        }

        .card-img-top {
            max-height: 150px;
            object-fit: cover;
            border-radius: 5px;
        }

        .card-body {
            text-align: center;
        }

        .card-title {
            font-weight: bold;
        }

        .card-text {
            color: #6c757d;
        }
    </style>
</head>

<body>
    {% block content %}
    <div class="sidebar">
        <div class="logo">
            <a href="/">
                <img style="width: 20px;" src="{% static 'myapp/images/logo.png' %}" alt="Logo Image">
            </a>
            <a href="/" class="logo-title" style="color: white; text-decoration: none;">Plotter</a>
        </div>
    </div>

    <div class="main-content">
        <div class="top-bar" style="display: flex; justify-content: space-between; align-items: center;">
            
            <div style="display: flex; align-items: center;">
                <h1>
                    <img src="{% static 'myapp/images/user.png' %}" alt="Percentage Icon"
                        style="width: 30px; height: 30px; vertical-align: middle; margin-bottom: 8px;">
                     {{ user.username }}
                </h1>
            </div>
            <div>
                {% if user.is_authenticated %}
                <a href="/export"  class="btn" style="background-color: rgb(42, 38, 174); color: white;">Export</a>
                <a href="/logout" class="btn" style="background-color: red; color: white;">
                    <i class="bi bi-box-arrow-right"></i>
                    <img src="{% static 'myapp/images/logout.png' %}" style="width: 20px; height: 20px;"> Log
                            Out
                </a>
                {% endif %}
            </div>
        </div>

        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'data' %}" role="tab">Data</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'describe' %}" role="tab">Describe</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="{% url 'selectPlot' %}" role="tab">Preview</a>
            </li>
        </ul>
        <div class="table-container">
            <form method="post" class="mb-4">
                {% csrf_token %}
                <div class="container mt-5">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card"
                                style="border: none; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); transition: transform 0.3s ease, box-shadow 0.3s ease;"
                                onmouseover="this.style.transform='translateY(-5px)'; this.style.boxShadow='0 6px 12px rgba(0, 0, 0, 0.2)';"
                                onmouseout="this.style.transform='translateY(0)'; this.style.boxShadow='0 4px 8px rgba(0, 0, 0, 0.1)';">
                                <a href="/scatter">
                                    <img src="{% static 'myapp/images/scatter.png' %}" class="card-img-top"
                                        alt="Scatter Plot">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title">Scatter Plot</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card"
                                style="border: none; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); transition: transform 0.3s ease, box-shadow 0.3s ease;"
                                onmouseover="this.style.transform='translateY(-5px)'; this.style.boxShadow='0 6px 12px rgba(0, 0, 0, 0.2)';"
                                onmouseout="this.style.transform='translateY(0)'; this.style.boxShadow='0 4px 8px rgba(0, 0, 0, 0.1)';">
                                <a href="/histogram">
                                    <img src="{% static 'myapp/images/histogram.png' %}" class="card-img-top"
                                        alt="Histogram">
                                </a>
                                <div class="card-body">
                                    <br>
                                    <h5 class="card-title">Histogram</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card"
                                style="border: none; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); transition: transform 0.3s ease, box-shadow 0.3s ease;"
                                onmouseover="this.style.transform='translateY(-5px)'; this.style.boxShadow='0 6px 12px rgba(0, 0, 0, 0.2)';"
                                onmouseout="this.style.transform='translateY(0)'; this.style.boxShadow='0 4px 8px rgba(0, 0, 0, 0.1)';">
                                <a href="/bar">
                                    <img src="{% static 'myapp/images/bar.png' %}" class="card-img-top" alt="Bar Plot">
                                </a>
                                <div class="card-body">
                                    <br>
                                    <br>
                                    <h5 class="card-title">Bar Plot</h5>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div class="col-md-4">
                            <div class="card"
                                style="border: none; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); transition: transform 0.3s ease, box-shadow 0.3s ease;"
                                onmouseover="this.style.transform='translateY(-5px)'; this.style.boxShadow='0 6px 12px rgba(0, 0, 0, 0.2)';"
                                onmouseout="this.style.transform='translateY(0)'; this.style.boxShadow='0 4px 8px rgba(0, 0, 0, 0.1)';">
                                <a href="/line">
                                    <img src="{% static 'myapp/images/line.png' %}" class="card-img-top"
                                        alt="Line Plot">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title">Line Plot</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card"
                                style="border: none; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); transition: transform 0.3s ease, box-shadow 0.3s ease;"
                                onmouseover="this.style.transform='translateY(-5px)'; this.style.boxShadow='0 6px 12px rgba(0, 0, 0, 0.2)';"
                                onmouseout="this.style.transform='translateY(0)'; this.style.boxShadow='0 4px 8px rgba(0, 0, 0, 0.1)';">
                                <a href="/box">
                                    <img src="{% static 'myapp/images/box.png' %}" class="card-img-top" alt="Box Plot">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title">Box Plot</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card"
                                style="border: none; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); transition: transform 0.3s ease, box-shadow 0.3s ease;"
                                onmouseover="this.style.transform='translateY(-5px)'; this.style.boxShadow='0 6px 12px rgba(0, 0, 0, 0.2)';"
                                onmouseout="this.style.transform='translateY(0)'; this.style.boxShadow='0 4px 8px rgba(0, 0, 0, 0.1)';">
                                <a href="/pie">
                                    <img src="{% static 'myapp/images/pie.png' %}" class="card-img-top" alt="Pie Chart">
                                </a>
                                <div class="card-body">
                                    <br>
                                    <h5 class="card-title">Pie Chart</h5>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    {% endblock %}
</body>

</html>