{% extends "myapp/data.html" %}
{% load static %}

{% block content %}
        <div class="sidebar">
            <div class="logo">
                <a href="/">
                    <img style="width: 20px;" src="{% static 'myapp/images/logo.png' %}" alt="Logo Image">
                </a>
                <a href="/" class="logo-title" style="color: white; text-decoration: none;">Plotter</a>
            </div>
    <h5>Select Options</h5>
            <form method="post" class="mb-4">
                {% csrf_token %}
                <!-- Select options form -->
                <div class="form-group">
                    <label for="x_column">X-axis Column:</label>
                    <select name="x_column" id="x_column" class="form-control">
                        {% for column in columns %}
                        <option value="{{ column }}" {% if column == request.session.x_column %}selected{% endif %}>{{ column }}</option>
                        {% endfor %}
                    </select>
                </div>
    
                <div class="form-group">
                    <label for="y_column">Y-axis Column:</label>
                    <select name="y_column" id="y_column" class="form-control">
                        {% for column in columns %}
                        <option value="{{ column }}" {% if column == request.session.y_column %}selected{% endif %}>{{ column }}</option>
                        {% endfor %}
                    </select>
                </div>
        
                <div class="form-group">
                    <label for="plot_title">Plot Title:</label>
                    <input type="text" name="plot_title" id="plot_title" class="form-control" value="{{ request.session.plot_title }}">
                </div>
        
                <div class="form-group">
                    <label for="title_font_size">Title Font Size:</label>
                    <input type="number" name="title_font_size" id="title_font_size" class="form-control" min="10" max="50" step="1" value="{{ request.session.title_font_size|default:24 }}">
                </div>
                <div class="form-group">
                    <label for="plot_color">Marker Color:</label>
                    <input type="color" name="plot_color" id="plot_color" class="form-control" value="{{ request.session.plot_color|default:'#000000' }}">
                </div>
                <div class="form-group">
                    <label for="marker_size">Marker Size:</label>
                    <input type="number" name="marker_size" id="marker_size" class="form-control" min="1" value="{{ request.session.marker_size|default:5 }}">
                </div>
                <div class="form-group">
                    <label for="marker_type">Marker Type:</label>
                    <select name="marker_type" id="marker_type" class="form-control">
                        <option value="" {% if request.session.marker_type == "" %}selected{% endif %}>None</option>
                        <option value="circle" {% if request.session.marker_type == "circle" %}selected{% endif %}>Circle</option>
                        <option value="square" {% if request.session.marker_type == "square" %}selected{% endif %}>Square</option>
                        <option value="triangle-up" {% if request.session.marker_type == "triangle-up" %}selected{% endif %}>Triangle</option>
                        <option value="star" {% if request.session.marker_type == "star" %}selected{% endif %}>Star</option>
                        <option value="x" {% if request.session.marker_type == "x" %}selected{% endif %}>X</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="plot_style">Style:</label>
                    <select name="plot_style" id="plot_style" class="form-control">
                        <option value="plotly" {% if request.session.plot_style == "plotly" %}selected{% endif %}>Default</option>
                        <option value="plotly_dark" {% if request.session.plot_style == "plotly_dark" %}selected{% endif %}>Dark</option>
                        <option value="ggplot2" {% if request.session.plot_style == "ggplot2" %}selected{% endif %}>ggplot2</option>
                        <option value="seaborn" {% if request.session.plot_style == "seaborn" %}selected{% endif %}>Seaborn</option>
                        <option value="simple_white" {% if request.session.plot_style == "simple_white" %}selected{% endif %}>Simple White</option>
                        <option value="presentation" {% if request.session.plot_style == "presentation" %}selected{% endif %}>Presentation</option>
                        <option value="xgridoff" {% if request.session.plot_style == "xgridoff" %}selected{% endif %}>xgridoff</option>
                        <option value="ygridoff" {% if request.session.plot_style == "ygridoff" %}selected{% endif %}>ygridoff</option>
                        <option value="gridon" {% if request.session.plot_style == "gridon" %}selected{% endif %}>Grid On</option>
                        <option value="none" {% if request.session.plot_style == "none" %}selected{% endif %}>None</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="x_axis_label">X-axis Label:</label>
                    <input type="text" name="x_axis_label" id="x_axis_label" class="form-control" value="{{ request.session.x_axis_label }}">
                </div>
                <div class="form-group">
                    <label for="y_axis_label">Y-axis Label:</label>
                    <input type="text" name="y_axis_label" id="y_axis_label" class="form-control" value="{{ request.session.y_axis_label }}">
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="show_grid" id="show_grid" {% if request.session.show_grid %}checked{% endif %}>
                    <label class="form-check-label" for="show_grid">Show Grid</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="show_legend" id="show_legend" {% if request.session.show_legend %}checked{% endif %}>
                    <label class="form-check-label" for="show_legend">Show Legend</label>
                </div>
                <div id="scatter_plot_section" class="mt-4">
                    <button type="submit" name="scatter_plot" class="btn btn-success">Generate Scatter Plot</button>
                </div>
            </form>
        </li>
    </ul>
</div>

<div class="main-content" style="overflow-y: auto; height: 100vh;">
    <div class="top-bar" style="display: flex; justify-content: space-between; align-items: center;">
        <h1>
            <img src="{% static 'myapp/images/user.png' %}" alt="Percentage Icon"
                style="width: 30px; height: 30px; vertical-align: middle; margin-bottom: 8px;">
             {{ user.username }}
        </h1>
        <div>
            {% if user.is_authenticated %}
            <form method="POST">
                {% csrf_token %}
                <button type="submit" name="save" class="btn" style="background-color: rgb(51, 145, 83); color: white;">Save</button>
                <a href="/export"  class="btn" style="background-color: rgb(42, 38, 174); color: white;">Export</a>
                <a href="/logout" class="btn" style="background-color: red; color: white;">
                    <img src="{% static 'myapp/images/logout.png' %}" style="width: 20px; height: 20px;" alt="Logout">
                    Log Out
                </a>
            </form>
            {% endif %}
        </div>
    </div>

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'data' %}" role="tab">Data</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'describe' %}" role="tab">Describe</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="{% url 'selectPlot' %}" role="tab">Preview</a>
        </li>
    </ul>

    <div class="table-container">
        <h2 class="mt-5">Scatter Plot</h2>
        <div class="plot-container mt-4">
            {% if plot_div %}
                {{ plot_div|safe }}
                
            {% else %}
                <p>No plot available.</p>
            {% endif %}
        </div>
    </div>
</div>


<style>
    .sidebar {
        width: 250px;
        height: 100vh;
        overflow-y: auto;
        padding: 20px;
    
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
        position: fixed; /* ทำให้ติดขอบซ้าย */
    }

    .main-content {
        margin-left: 250px; /* Same width as sidebar */
        padding: 20px;
        height: 100vh;
        overflow-y: auto;
    }

    .form-group {
        margin-bottom: 1rem;
    }

    h5 {
        margin-top: 1rem;
    }

    .btn-primary {
        margin-top: 10px;
    }

    .plot-container {
        max-width: 100%;
        overflow: hidden;
    }
</style>
{% endblock %}
